*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}

.container1{
  height: 100vh;
  width: 100%;
}

.back{
  height: 100%;
  width: 100%;
  background-image: url(wood-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.Pbox{
  height: 9rem;
  width: 27rem;
  background-color: black;
  /* opacity: .8; */
  border-radius: 10px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255, 0.2));
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.Pbox:hover{
  background: #0089cd;
  box-shadow: 0 0 30px #506ac8;
}

.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 5px double #0089cd;
padding: 10px;
}

.nowDate{
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  letter-spacing: 3px;
  padding-top: 12px;
}
.nowTime{
  color: #fff;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-family: sans-serif;
}

.nowDay{
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 13px;
  
}

/* .nowPeriod{
  color: #fff;
  font-size: 1.7rem;
  position: absolute;
  right: 14px;
  bottom: 2.5rem;
  background-color: #0089cd;
  border-radius: 3px;
} */
#period{
  /* font-size: 5rem; */
  margin-left: 9px;
  padding-left: 4px;
  background-color: #0089cd;
  border-radius: 3px;
}
